<html>
  <head>
    <meta charset="utf-8">
    <title>留言板demo</title>
  </head>
{% if user == null %}
<h3>欢迎，请先登录!</h3>
<p><a href="/signin">登录</a> or <a href="/register">注册</a></p>
{% else %}
<h3>欢迎 {{ user.name }}!</h3>
<a href="/signout">登出</a>
{% endif %}
<div>
{% for comment in comments %}
    <li>
      用户 {{ comment.name }} 在 {{comment.createdDateTime}} 说：{{comment.text}}
    </li>
{% endfor %}
</div>

<form method="post" action="/comment">
  {% if error != null %}
  <div>
    <p>{{ error }}</p>
  </div>
  {% endif %}
  <div>
    <label>内容</label>
    <input name="text" type="text">
  </div>
  <div>
    <button type="submit">提交</button>
  </div>
</form>
</html>